<!-- This is the logback logging configuration -->

<configuration debug="true" scan="true">

	<!-- Changes in level shall be propagated to java.util.logging -->

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- An appender which writes to the console -->

	<appender name="ALPHA_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="name.heavycarbon.logging.layout.AlphaLayout" />
		</encoder>
	</appender>


	<appender name="DEFAULT_STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

	</appender>

	<!-- Set the root logger -->

	<root level="info">
		<appender-ref ref="DEFAULT_STDOUT" />
	</root>

	<!-- logger configuration -->

	<logger level="WARN"
		name="name.gluino.webmailfeed.MemberListSlurper.makeLevel" />

</configuration>